# {{ ansible_managed }}

[Unit]
Description=kubelet: The Kubernetes Node Agent
Wants=etcd.service docker.service containerd.service crio.service
After=etcd.service docker.service containerd.service crio.service
Documentation=http://kubernetes.io/docs/

[Service]
ExecStart=/usr/local/bin/kubelet
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
