# {{ ansible_managed }}

[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/home/
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target
RequiresMountsFor=/var/lib/kubelet

[Service]
ExecStart=/usr/local/bin/kubelet
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
